body {
  background-image: url(tile.png);
  padding: 32.5px;
  text-align: center;
  font-family: fantasy
}
p {
  color: white;
}
h1 {font-weight: lighter;
  color: white;
  font-size: 200;
  }
a {color: aqua
}
.bg{
  background: rgba(0, 0, 0, 0.6);
  padding: 32.5px;
  border: 10px solid white;
}
h2 {font-weight: lighter;
  color: white;
  font-size: 150;
}
ol {font-weight: lighter;
  color: white;
  font-size: 100;
}
li {
  text-align: left;
}
button {
  background-color: darkblue;
  color: white;
  font-weight: bold
    
}